<app-header></app-header>

    <!--mi-componente></mi-componente>
    <hr /-->
    <router-outlet></router-outlet> <!--esto busca si esta la ruta disponible tecleada en la barra de navegacion y trae el componete-->

<app-footer></app-footer>

<!--Pruebas con componentes-->
<!--mi-componente></mi-componente-->
<!--peliculas></peliculas-->
<!--pruebas></pruebas-->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->


